<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!--<link href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">-->
    <link rel="stylesheet" href="../css/styles.css">


    <title>
        Dashboard
    </title>

    </head>

    <body>

        <%- include('./partials/nav-bar.ejs') %>


        <form action="/" method="POST">
            <div class="container-fluid">               
                
                <div class="card">
                    <div class="card-body bg-light">
                        <h5 class="card-title">Viral Progression</h5>
                        <canvas id="myChart"></canvas>
                    </div>                    
                </div>
                <button type="button" id="refreshBtn" name="refreshBtn" class="btn btn-primary right-align-btn" onclick="addData(myChart, datesArray, confirmedArray);">Refresh Graph</button>
                
       
                
            </div> 
        </form>       


        
        <script>            
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['13/4/20', 'Tuesday', '15/4/20', '16/4/20', '17/4/20', '18/4/20', '19/4/20', '20/4/20', '21/4/20', '22/4/20'],
                    datasets: [{
                        label: 'Number of Infections',
                        data: [14, 17, 17, 23, 23, 24, 25, 25, 25, 28], 
                        borderColor: [
                            'red'
                        ],
                        borderWidth: 1,
                        pointHoverBorderWidth: 5,
                        pointHoverBorderColor: 'red', 
                        fill: false                       
                    }]
                },
                options: {
                    title:{
                        display:true,
                        text:'Infection Progression Over The Last Ten(10) Days'
                    },
                    legend:{
                        position:'right',
                        display:false
                    },
                    layout:{
                        padding:{
                            left: 100,
                            right: 100,
                            top:40,
                            bottom: 40
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });

            
        </script>
        

        <!-- Bootstrap core JavaScript-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>